@use "/styles/config/breakpoints.scss" as *;

.wrapper {
  max-width: 87.5rem;
  margin: 0 auto;
  border-radius: 0.625rem;

  &--footer {
    width: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mq("mobile") {
      justify-content: space-between;
    }
  }
  &--header {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: auto;
  }
  &--hero-baner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    @include mq("tablet") {
      justify-content: space-between;
    }
  }
  &--main-content {
  }
}
