.main {
  display: flex;
  background-color: var(--color-background);
  &__professional-summary {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: auto;
  }
}
