.main {
  display: flex;
  background-color: var(--color-background);
  &__exp-section {
    margin: 2rem 1rem;
    background-color: var(--color-sections);
    width: 45%;
    height: auto;
    border-radius: 10px;
  }
}
