@use "/styles/config/breakpoints.scss" as *;
.logo-link {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;

  @include mq("laptop") {
    margin: 0 1rem;
  }
  &--header {
    align-self: center;
    margin-left: 1rem;
  }
  &__image {
    @include mq("mobile") {
      height: 50px;
      width: 266px;
    }
  }
}
