@use "/styles/config/breakpoints.scss" as *;
.logo-link {
  display: flex;
  align-items: center;

  @include mq("tablet") {
    margin: 0 1rem;
  }
  &--header {
    align-self: center;
    margin-left: 1rem;
  }
  &__image {
    @include mq("mobile") {
      height: 3.125rem;
      width: 16.625rem;
    }
  }
}
