@use "sass-mq/_mq";
.footer {
  background-color: var(--color-primary);
  width: auto;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include mq.mq($from: 600px) {
    justify-content: space-between;
  }
}
.right {
  display: flex;
  flex-direction: row;
  margin: 4rem;
}
