.footer {
  background-color: rgb(40, 40, 40);
  width: auto;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  flex-direction: row;
  margin: 4rem;
}
