.hero-banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: right;

  &__image {
    filter: brightness(50%);
  }
  &__image2 {
  }
  &__content {
    color: white;
    text-align: center;
    z-index: 10;
  }
  &__greetings {
    margin: 0;
  }
}
