.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 90vh;

  &__window {
    display: flex;
    width: fit-content;
    height: 90vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }
}
