@use "sass-mq/_mq";

.logo {
  margin-left: 100px;
  display: inline-block; // Dla kontroli wymiarów
  font-family: "Poppins", sans-serif; // Nowoczesny, czytelny font
  font-size: 2rem; // Rozmiar czcionki
  font-weight: 700; // Wyróżnienie poprzez pogrubienie
  text-transform: uppercase; // Duże litery dla efektu
  color: var(--color-text); // Neutralny, elegancki kolor
  text-decoration: none; // Usunięcie domyślnej dekoracji
  letter-spacing: 0.1em; // Subtelne odstępy między literami
  transition: color 0.3s ease, transform 0.3s ease; // Płynna animacja przy interakcji

  &:hover {
    color: #0077ff; // Kolor podczas najechania
    transform: scale(1.05); // Subtelne powiększenie
  }

  &:active {
    transform: scale(0.95); // Efekt kliknięcia
  }

  // Dostosowanie dla urządzeń mobilnych
  @media (max-width: 600px) {
    font-size: 1.5rem; // Mniejszy rozmiar na małych ekranach
    letter-spacing: 0.05em; // Zmniejszenie odstępów między literami
  }
}
