@use "/styles/config/breakpoints.scss" as *;

.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0rem;
  min-height: 10vh;
  margin-left: 1rem;
  list-style: none;

  @include mq("mobile") {
    flex-direction: row;
  }

  &__item {
    margin: 0.5rem 1rem;
  }
}
