.header {
  background-color: var(--color-primary);
  width: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: auto;
}
.header__menu {
  margin-right: 10vh;
}
.header__link {
  font-size: 1.25rem;
  margin: 1.25rem;
  color: var(--color-text);
  text-decoration: none;
  &:hover {
    text-decoration: underline 0.125rem var(--color-secondary);
    text-underline-offset: 0.5rem;
  }
}
