@use "/styles/config/breakpoints.scss" as *;

.text-field {
  color: var(--color-text);
  padding: 1.5rem;
  margin: 2rem 1rem;
  background-color: var(--color-sections);
  width: 60%;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-xxs);
  @include mq("mobile") {
    font-size: var(--font-size-xs);
    padding: 2rem;
  }
  @include mq("tablet") {
    font-size: var(--font-size-s);
    width: 45%;
  }
}
