@use "/styles/config/breakpoints.scss" as *;

.text-field {
  color: var(--color-text);
  padding: 1.5rem;
  margin: 2rem 1rem;
  background-color: var(--color-sections);
  width: 60%;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);

  @include mq("mobile") {
    padding: 2rem;
  }
  @include mq("tablet") {
    width: 45%;
  }

  &__title {
    margin: 0rem;
    text-align: center;
    font-size: var(--font-size-l);
    @include mq("mobile") {
      font-size: var(--font-size-xl);
    }
    @include mq("tablet") {
      font-size: var(--font-size-xxl);
    }
  }

  &__description {
    white-space: pre-line;
    text-align: center;
    font-size: var(--font-size-xxs);
    @include mq("mobile") {
      font-size: var(--font-size-xs);
    }
    @include mq("tablet") {
      font-size: var(--font-size-s);
    }
  }
}
