.footer {
  background-color: rgb(24, 24, 24);
  width: auto;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__download {
    color: white;
    margin: 0.5rem;
  }
}
