@use "/styles/config/breakpoints.scss" as *;

.link {
  color: var(--color-text);
  text-decoration: none;

  &--footer {
    font-size: var(--font-size-m);
    font-weight: bold;
    &:hover {
      text-decoration: underline 0.125rem var(--color-secondary);
      text-underline-offset: 0.25rem;
    }
  }
  &--hero {
    margin-top: 1rem;
    font-size: var(--font-size-xxl);
    text-decoration: underline 0.1875rem var(--color-secondary);
    text-underline-offset: 0.5rem;
    @include mq("mobile") {
      font-size: var(--font-size-xxxl);
    }
    &:hover {
      transform-origin: left;
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;
    }
  }
}
