@use "/styles/config/breakpoints.scss" as *;

.NavButton {
  font-size: var(--font-size-s);
  margin: 1rem;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  text-decoration: none;
  font-family: "poppins";
  font-weight: bold;
  @include mq("laptop") {
    margin: 1.125rem;
    font-size: var(--font-size-m);
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline 0.125rem var(--color-secondary);
    text-underline-offset: 0.5rem;
  }
}
