@use "/styles/config/breakpoints.scss" as *;

.NavButton {
  font-size: 1rem;
  margin: 1rem;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  text-decoration: none;

  @include mq("laptop") {
    margin: 1.25rem;
    font-size: 1.25rem;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline 0.125rem var(--color-secondary);
    text-underline-offset: 0.5rem;
  }
}
