.hero-banner {
  width: 100vw;
  height: 70vh;
  background-image: url("../../public/webdev.png");
  background-size: cover;

  &--electro-design {
    background-image: url("../../public/electric_design.jpg");
  }
  &--game-dev {
    background-image: url("../../public/gamedev.png");
  }
  &--pixel-art {
    background-image: url("../../public/2.png");
  }

  &__greetings {
    margin: 0;
  }
}
