.cursor {
  &--web-development {
    cursor: url("../../../public/cursor/image1.png"), auto;
  }
  &--game-development {
    cursor: url("../../../public/cursor/image1.png"), auto;
  }
  &--pixel-art {
    cursor: url("../../../public/cursor/rename.png"), auto;
  }
  &--electrical-designer {
    cursor: url("../../../public/cursor/image1.png"), auto;
  }
}
