@use "sass-mq/_mq";

.navigation {
  display: flex;

  .menuToggle {
    background-color: transparent;
    border: none;
    @include mq.mq($from: 1024px) {
      display: none;
    }
  }

  .menu {
    display: none;
    background-color: var(--color-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 30%;

    @include mq.mq($from: 1024px) {
      display: flex;
      width: auto;
    }

    &.open {
      display: block;
    }
  }
}
